@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flexgrow1 {
  flex: 0.05;
}
.flexgrow2 {
  flex: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.rounded {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

.space {
  font-family: "Space Grotesk", sans-serif;
}
